{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=GoldenGemsDB;Username=postgres;Password=123"
  },
  "Jwt": {
    "Issuer": "GoldenGemsBackEnd",
    "Audience": "GoldenGemsClient",
    "SecretKey": "94c09fbd468bfce055dfbf137995e459419386c9219bd9e8e1db972744bd2d25",
    "AccessTokenExpirationMinutes": 60
  }
}
